body {
    padding-bottom: 20px;
    background: linear-gradient(mediumslateblue, white);
}

body,html{
    height: 100%;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-default{
    background-color: silver;
}
.header img{
    float: left;
    height: 55px;
    width: 55px;
}

.header h1 {
    font-family: 'GE Inspira Book';
    font-size: 50px;
    color: azure;
    padding-bottom: 50px;
    margin-left: 80px;
}

h5{
    font-family: 'GE Inspira Pitch';
    font-size: 24px;
    color: blue;
    text-align: center;
}

.card card-img-top{
    height: 400px;
    width: 266px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
