<div class="opinion-header">
    <h2>O nas</h2>
</div>
<hr />

<div class="row">
    <div class="column about-text-column left">
        <h4>15 lat doświadczenia</h4>
        <p>
            Etiam molestie tellus nec semper aliquet. Nulla id blandit sapien, sit amet facilisis nibh.
            Pellentesque vel ultricies arcu. Nulla laoreet, libero eu accumsan pharetra, nisi est tristique dui, ultricies congue sem tortor non dolor.
            Ut hendrerit magna sed eros mollis, ac feugiat tortor cursus. Aliquam nec lacus nec nisi elementum aliquet. Duis maximus non ligula sed efficitur.
            Vestibulum efficitur nisl ut nulla venenatis feugiat. Mauris venenatis at nulla at bibendum.
        </p>
        <h4>Najwyższa jakość</h4>
        <p>
            Integer ac ipsum eu diam viverra semper. Vestibulum interdum venenatis massa, id malesuada urna viverra ut.
            Quisque interdum, tellus id gravida lobortis, arcu nisl vestibulum velit, ac pharetra nibh elit id elit.
            Mauris et quam sit amet ex condimentum laoreet et et magna. Nulla imperdiet risus quis nunc bibendum, vel iaculis magna interdum. Quisque id dapibus est.
            Nulla ultricies justo nisi, sit amet consequat sem accumsan lacinia. Mauris vestibulum a magna a accumsan.
        </p>
        <h4>Dlaczego warto korzystać z naszych usług?</h4>
        <p>
            Etiam molestie tellus nec semper aliquet. Nulla id blandit sapien, sit amet facilisis nibh.
            Pellentesque vel ultricies arcu. Nulla laoreet, libero eu accumsan pharetra, nisi est tristique dui, ultricies congue sem tortor non dolor.
            Ut hendrerit magna sed eros mollis, ac feugiat tortor cursus. Aliquam nec lacus nec nisi elementum aliquet. Duis maximus non ligula sed efficitur.
            Vestibulum efficitur nisl ut nulla venenatis feugiat. Mauris venenatis at nulla at bibendum.
        </p>
    </div>
    <div class="column about-features-column right">
        <p style="padding-top: 20px; font-size: 20px; font-weight: bold; font-family: 'GE Inspira Book';">
            Gabinet stomatologiczny
        </p>
        <p>Szeroka 23</p>
        <p style="margin-bottom: 10px">43-000 Bielsko-Biała</p>
        <p>338-653-457 (stac.)</p>
        <p style="margin-bottom: 10px">456-908-909 (kom.)</p>
        <p> <a href="mailto:webmaster@example.com">gabinet@gabinet.com</a></p>
    </div>
</div>

