@model IEnumerable<DentalSurgery.Models.Opinion>

@{
    ViewBag.Title = "Opinions";
}
<div class="opinion-header">
    <h2>Opinie pacjentów</h2>
</div>
<hr />
@if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated == true)
{
    <div class="my-awesome">
        @Html.Action("WriteOpinion")
    </div>
}

<div class="container">
    @*@foreach (var opinion in Model)
        {*@
    <div class="row">
        <div class="col-xl-12">
            <div class="jumbotron jumbotron-opinion">
                <h5>Autor opinii</h5>
                <h6>Data opinii</h6>
                <label>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam posuere arcu eu imperdiet imperdiet. Proin lobortis dignissim ultrices. Cras interdum nunc a nisl luctus pretium. Fusce fermentum, sem eget lacinia convallis, massa est consequat est, in suscipit magna eros eget turpis. Vestibulum pharetra elit quis neque hendrerit dapibus. Curabitur mollis est in urna ornare laoreet. Fusce est lorem, porttitor sed turpis a, tempor efficitur eros. Mauris hendrerit rhoncus augue id posuere. Aenean vestibulum cursus nunc, nec mollis massa malesuada eget.
                </label>
            </div>
        </div>
    </div>
    @*}*@
</div>
