@model IEnumerable<DentalSurgery.Models.Opinion>

@{
    ViewBag.Title = "Opinions";
}
<div class="opinion-header">
    <h2>Opinie pacjentów</h2>
</div>
<hr />
@if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated == true)
{
    <div class="my-awesome">
        @Html.Action("WriteOpinion")
    </div>
}

<div class="container">
    @if (Model != null)
    {
        foreach (var opinion in Model)
        {
            <div class="row">
                <div class="col-xl-12">
                    <div class="jumbotron jumbotron-opinion">
                        <h5>@opinion.Author</h5>
                        <h6>@opinion.Date.ToShortDateString()</h6>
                        <label>
                            @opinion.Content
                        </label>
                    </div>
                </div>
            </div>
        }
    }
</div>
